@import url(https://fonts.googleapis.com/css?family=Lora|Lobster+Two);

h1 {
	font-family: 'Lobster Two', sans-serif;
	text-align: center;
	color: #fff;
	font-size: 250%;
}

.header {
	max-width: 2000px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #C40000;
	border: 2px solid #ccc;
	width: 100%;
	margin: 0px auto; 
}

div { 
	position: relative; 
}

.vote_button {
	margin: 0 auto ;
	font-family: 'Lora', sans-serif;
	text-align: center;
	width: 90%;
	max-width: 500px;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #000;
	color: #fff;
}